.movieCard_title{
    padding-top: 8px;
    text-align: center
}

.movieCard_wrapper{
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 204px;
    height: calc(307px + 3rem);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:5px;
    overflow: hidden;
    white-space: normal;
}

.movieCard_wrapper > .imageContainer {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.movieCard_wrapper_small{
    width: 140px;
    height: calc(180px + 2.5rem);
}

.movieCard_wrapper_small > .imageContainer {
    width: 135px;
    height: 180px;
    overflow: hidden;
}

.imageContainer > img {
    width: 100%;
    height: 100%;
}


.movieCard_wrapper:hover,
.movieCard_wrapper:focus{
    border: 3px solid #00c3ff;
    border-radius: 5px;
    margin-top: -5px;
}